[submodule "google-gemini-cookbook"]
	path = google-gemini-cookbook
	url = https://github.com/mwoodpatrick/google-gemini-cookbook
[submodule "patterns/workflows/Gemini-api-integration/python-genai"]
	path = patterns/workflows/Gemini-api-integration/python-genai
	url = https://github.com/mwoodpatrick/python-genai
